@model CreateCategoryModel
@using CafeMenuProject.WebUI.Areas.Admin.Models.Categories

@{
    ViewBag.Title = "Yeni Kategori";
}

<div class="content-header clearfix">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="@Url.Action("List", "Category", new { area = "Admin" })" class="btn btn-primary">
                    <i class="fas fa-square-plus"></i> Tüm Kategoriler
                </a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-danger card-outline">
            <div class="card-header with-border clearfix">
                <h3 class="card-title">@ViewBag.PageTitle</h3>
            </div>
            <div class="card-body">
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
