@{
    ViewBag.Title = "Kategoriler";
}

<div class="content-header clearfix">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="float-left">@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="@Url.Action("Create", "Category", new { area = "Admin" })" class="btn btn-primary">
                    <i class="fas fa-square-plus"></i> Yeni Kategori
                </a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">

    </div>
</section>
